 body{ background: rgb(244, 244, 244)}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        /* 小米公司 font */
        font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    
    }
    a{ 
        text-decoration:none; 
        color:#333; 
    } 
    .icon {
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
     }
     .highlight{
        color: #FF5700;
    }
    .clearfix::after{
        content:'';
        display:block;
        clear: both;
    }
    .main{
        /* width: 1000px; */
        /* margin: 0 auto; */
        overflow:hidden;
    }
    aside{
        float: left;
        width: 25%;
        background: rgb(55, 71, 79);
        margin-bottom:-10000px;
        padding-bottom:10000px;
      
    }
    main {
        float: left;
        width: 75%;
        background: white;
        margin-bottom:-10000px;
        padding-bottom:10000px;
    }
    aside > .photo{
        /* padding: 5px; */
        background: rgb(39, 50 , 56);
    }
    aside > .photo >img {
        /* margin-top: 20px; */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        border: 4px solid rgb(55,72,79);
    }
    .photo > h2 ,
    .photo > h3  {
        text-align: center;
        color: white;
    
    }
    .photo > h2 {
        font-size:15px;
        margin-top: 10px;
    }
    .photo > h3 {
        margin-top: 10px;
    }
    aside > .info {
        background: rgb(55, 71, 79);
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .info {
        color: white;
    }
    .info h2 {
       height: 50px;
       display: flex;
    
    }
    .info h2>.tb {
        width: 40px;
        height: 40px;
        background: rgb(39, 50, 56);
        border-radius: 50%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
    }
    
    
    .info h2 > .title {
        margin-top: 3px;
        margin-left: 10px;
    }
    .info p {
        margin-top: 5px;
        text-align: justify;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
        width: 100%;
    }
 
   
    .info > .skills{
        margin-top: 10px;
    }
    .info  >.aboutme{
        margin-top: 100px;
        padding-top: 30px;
    }
    .info> .contact{
        margin-top: 30px;
    }
    .info > .about{
        margin-top: 30px;
    }
    .contact> ul > li,
    .skills > ul > li{
        margin-top: 10px;
        display: flex;
        line-height: 30px;
        font-size: 13px;
    }
    .contact .content,
    .skills .content {
        padding-left: 8px;
        position: relative;
    }
    
    .info .tb-small{
        margin-left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
    }
    .skills .content{
        width: 100px;
        flex-grow: 1;
    }
    .skills .content > .bar{
        height: 10px;
        background: rgb(37 , 49, 55);
        position: absolute;
        bottom: 0;
        z-index: 2;
        border-radius: 5px;
    }
    .skills .content::after{
    
        content: '';
        display: block;
        height: 10px;
        width: 235px;
        background: white;
        border-radius: 5px;
        z-index: 1;
    }
    main {
    
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
    main h2 {
        display: flex;
        color: rgb(38, 49, 55)
    }
    main h2 > .title{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    main h2 > .tb {
        width: 50px;
        height: 50px;
        background: rgb(39, 50, 56);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
    }
    main > .project > .project-item {
        margin-top: 25px;
    }
    main > .project > .project-item  .project-item-wrapper {
        display: flex;
        flex-direction: row-reverse
    }
    main > .project > .project-item  .project-item-wrapper .imgwrapper,
    main > .project > .project-item  .project-item-wrapper .article-wrapper{
        padding-right: 10px;
    }
    main > .project > .project-item  img{
        margin-top: 5px;
        width: 300px;
        border: 1px solid #ddd;
        border-style: dashed;
        border-radius: 5px;
    }
    main > .project > .project-item  h3 {
        padding-bottom: 10px;
    }
    main > .project > .project-item  article {
        line-height: 20px;
        font-size: 14px;
        padding-top: 10px;
    }
    main >.company{
        margin-top:150px;
        padding-top: 30px;
    }
    main >.edu {
        margin-top: 30px;
    }
    main> .project > .penui  {
        margin-top: 150px;
        padding-top: 30px;
    }
    
